/* Follow Button */

.follow-btn {
  width: 100%;
  padding: 0.33rem 0.95rem;
  font-size: 0.9375rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border-color: #1da1f2;
  color: #1da1f2;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.follow:hover {
  background-color: #dcf3fc;
  transition: 0.3s;
}

.following {
  background-color: #1da1f2;
  color: #ffffff;
}

.following:hover {
  background-color: #d15454;
  border-color: #d15454;
}