/* App.css */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e6ecf0;
}

a {
  color: #1da1f2;
  text-decoration: none;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 840px;
}

.home-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 990px;
  display: grid;
  grid-template-columns: 62% 35%;
}

.home-nav-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 990px;
}

.left-side {
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .tl-right-side {
    display: none;
  }
  .home-container {
    grid-template-columns: 70%;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .home-container {
    grid-template-columns: 80%;
  }
}

@media only screen and (max-width: 675px) {
  .home-container {
    grid-template-columns: 100%;
  }
  .left-side {
    margin-right: 0;
  }
}