#main-box {
  border: 0.07rem solid rgba(0, 0, 0, 0.18);
  margin: 10px auto;
}

.login-wrapper {
  padding: 0 16px;
  width: auto;
  max-width: 585px;
  margin: 0 auto;
}

#login-header {
  margin: 0;
  font-size: 1.5rem;
  padding: 20px 0 10px;
}

input.login-form {
  display: block;
  width: 18rem;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 16px 0;
}

.login-options {
  display: inline;
  font-size: 0.9rem;
}

.form-container {
  width: 100%;
}

button.login-options {
  width: 4.5rem;
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-right: 20px;
}

input.login-options {
  margin: 0 0.3rem 0 0;
}

#signup-links {
  background-color: #f5f8fa;
  padding: 16px 16px;
  margin-top: 1.4rem;
  color: #657786;
  font-size: 0.9rem;
}

#signup-links p {
  padding: 10px 0 5px 16px;
  width: auto;
  max-width: 585px;
  margin: 0 auto;
}

@media only screen and (max-width: 860px) {
  #main-box {
    margin: 10px 16px;
  }

  input.login-form {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 638px) {
  #signup-links {
    padding-left: 0
  }

  #signup-links p {
    padding-left: 16px;
  }
}

@media only screen and (max-width: 480px) {
  #main-box {
    margin: 0;
  }

  form#login {
    padding: 0;
  }

  input.login-form {
    width: 100%;
  }
}