/* Landing Screen */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#left-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #1da1f2;
  color: #ffffff;
}

.left-container {
  margin: 0 auto;
}

#left-half h2 {
  margin-bottom: 3.1rem;
  font-size: 1.2rem;
}

#left-half h2 i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

#bird-bg {
  color: #14171a;
  opacity: 0.1;
  font-size: 80rem;
  width: 50%;
  position: absolute;
  z-index: 10;
  top: -33.5%;
  bottom: 0%;
  left: 3%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#right-half {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #ffffff;
  color: #14171a;
  z-index: 20;
}

#top-login {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0.1rem;
}

#top-login input {
  width: 13rem;
  margin: 0 0.8rem 0 0;
  padding: 0.7rem;
  font-size: 0.9rem;
}

#small-btn-upper {
  width: 3.9rem;
  height: 2.9rem;
  font-size: 0.9rem;
}

#forgot-pass {
  display: block;
  font-size: 0.9rem;
  color: #aab8c2;
}

#right-half .right-container {
  margin: 7rem auto;
  max-width: 22rem;
}

#home-logo {
  color: #1da1f2;
  font-size: 3rem;
}

#right-half .right-container h1 {
  font-size: 1.6875rem;
  margin: 0.5rem 0 3.3rem 0;
}

#signup-btn {
  display: block;
  width: 100%;
  padding: 0.4rem;
  background-color: #1da1f2;
  border-radius: 2rem;
  border-color: #1da1f2;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 0.4rem;
  background-color: #ffffff;
  border-radius: 2rem;
  border-color: #1da1f2;
  color: #1da1f2;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

#small-btn-lower {
  display: none;
  float: right;
  max-width: 3.4rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 30;
  background-color: #ffffff;
  border-top: 0.06rem solid #e6ecf0;
}

#home-footer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.78rem 0;
}

#home-footer-list li, #home-footer-list span {
  display: inline;
  color: #97a8b4;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

#home-footer-list li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 500px), (max-height: 660px) {
  #left-half {
    justify-content: flex-start;
    padding: 0.5rem;
  }
  #left-half h2 {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  #left-half h2 i {
    margin-right: 0.75rem;
    font-size: 1.5rem;
  }
  #home-logo {
    font-size: 2rem;
  }
  
  #right-half .right-container h1 {
    font-size: 1.3rem;
    margin: 0.8rem 0 1.4rem 0;
  }
  #small-btn-lower {
    line-height: 1.2rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  #left-half {
    width: 100%;
    height: 50%;
  }
  #bird-bg {
    font-size: 30rem;
    top: 35%;
    left: 65%;
    width: 35%;
  }
  #right-half {
    width: 100%;
    height: 50%;
    padding: 1rem;
  }
  #top-login {
    display: none;
  }
  #right-half .right-container {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 1024px), (max-height: 660px) {
  #top-login {
    visibility: hidden;
  }
  #small-btn-lower {
    display: inline-block;
  }
}

