.home-bar {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffffff;
  padding: 0.9rem;
  border-bottom: 0.07rem solid #e6ecf0;
}

#home-bar-nav {
  display: none;
}

.compose-tweet-btn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  z-index: 5;
  font-size: 1rem;
  padding: 0.8rem;
  background-color: #1da1f2;
  color: #ffffff;
  border-radius: 50%;
  border-color: #1da1f2;
  box-shadow: 0 0 0.7rem #b1b0b0;
  cursor: pointer;
}

.fa-star {
  color: #1da1f2;
  float: right;
}

#compose {
  background-color: #ffffff;
  padding: 0.8rem;
}

#compose:hover {
  background-color: #fafafa;
  cursor: pointer;
}

#compose img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.5rem;
  margin: 0 0.6rem 0 1rem;
  vertical-align: middle;
  color: #e6ecf0;
}

#compose #input-box {
  display: inline-block;
  width: 70%;
  background-color: #e6ecf0;
  color: #61676b;
  border-radius: 1.2rem;
  border-style: none;
  padding: 0.6rem 0.6rem 0.6rem 0.85rem;
  font-size: 0.95rem;
}

#compose i {
  color: #1da1f2;
  font-size: 1.75rem;
  vertical-align: middle;
  margin-left: 0.75rem;
}

.fa-file-video {
  font-size: 1.5rem !important;
}

#tweets-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media only screen and (max-width: 1000px) {
  #compose #input-box {
    width: 60%;
  }
}

@media only screen and (max-width: 675px) {
  #home-bar-nav {
    display: block;
    border-bottom: none;
  }
  #home-bar-tl {
    display: none;
  }
  .compose-tweet-btn {
    display: block;
  }
  #compose {
    display: none;
  }
}