/* Compose Tweet */

#modal-bg {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

#compose-tweet-modal {
  width: 37rem;
  height: 15.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0;
  position: fixed;
  top: 15%;
  left: 30%;
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}

#compose-tweet-head {
  border-bottom: 0.07rem solid #b1b5b6;
}

#close-compose {
  margin: 0.5rem;
  border-color: #ffffff;
  border-radius: 100%;
  padding: 0.3rem 0.7rem;
  font-size: 1.5rem;
  color: #1da1f2;
  cursor: pointer;
  outline: none;
}

#close-compose:hover {
  background-color: #dcf3fc;
}

#close-compose:focus {
  border: 0.06rem solid #72c2f3;
}

#submit-tweet {
  float: right;
  width: 4.5rem;
  margin: 0.65rem;
  font-size: 0.9rem;
  padding: 0.4rem;
  background-color: #1da1f2;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

#submit-tweet:hover {
  background-color: #198cd3;
}

#submit-tweet:focus {
  border: 0.1rem solid #70c1f3;
}

#compose-tweet-body {
  height: 100%;
  width: 100%;
}

#compose-tweet-body img {
  width: 6.2%;
  height: 14.5%;
  border-radius: 1.5rem;
  margin: 1rem 1.2rem 0 1rem;
  vertical-align: top;
  color: #e6ecf0;
}

#compose-tweet-message {
  width: 85%;
  height: 50%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border-color: #e6ecf0;
  resize: none;
  background-color: #e6ecf0;
}

#compose-tweet-message:focus {
  background-color: #ffffff;
  border: 0.06rem solid #1da1f2;
  outline: none;
}

#compose-tweet-message:focus::placeholder {
  color: #b0b5b8;
}

@media only screen and (max-width: 1000px) {
  #compose-tweet-modal {
    width: 32rem;
    left: 20%;
  }
}

@media only screen and (max-width: 675px) {
  #compose-tweet-modal {
    width: 100%;
    left: 0;
  }
  #compose-tweet-body img {
    width: 2rem;
    height: 2rem;
  }
  #compose-tweet-message {
    width: 77.5%;
    height: 50%;
    font-size: 1rem;
  }
}