#action-btn {
  width: 100%;
  padding: 0.35rem 0.9rem;
  font-size: 0.9375rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border-color: #1da1f2;
  color: #1da1f2;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

#action-btn:hover {
  background-color: #dcf3fc;
  transition: 0.3s;
}