* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e6ecf0;
  margin: 0;
}

a {
  color: #1da1f2;
  text-decoration: none;
  border-bottom: red;
  text-decoration: none;
  border-bottom: red;
}

nav {
  background-color: #FFFFFF;
  height: 2.875rem;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

ul {
  padding: 0.7rem 0rem;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

p {
  font-size: 0.9em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 840px;
}

li {
  display: inline;
  margin-right: 1rem;
  padding: 0.3rem;
}

i {
  font-size: 1.3rem;
  margin-right: 0.4rem;
}

.nav-link span {
  color: #66757f;
}

#nav-right {
  float: right;
  margin-right: 0;
}

#main-box {
  min-height: 330px;
  background-color: #FFFFFF;
}

form {
  padding: 1.1rem 0 0 8rem;
  margin-bottom: 1rem;
}

input[type=text] {
  display: block;
  margin: 1rem 0;
  width: 18rem;
  font-size: 1rem;
  padding: 0.25rem;
}

.login-options {
  display: inline;
}

button {
  width: 4.5rem;
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 2rem;
}

input[type = checkbox] {
  margin: 0.5rem;
}

section {
  background-color: #f5f8fa;
  padding: 1rem 0 1rem 8rem;
}
