#main-box {
  min-height: 20rem;
  background-color: #FFFFFF;
  border: 0.07rem solid rgba(0,0,0,0.18);
}

form {
  padding: 1.1rem 0 0 8rem;
  margin-bottom: 1rem;
}

#login-header {
  font-size: 1.5rem;
}

input.login-form {
  display: block;
  margin: 1rem 0;
  width: 18rem;
  font-size: 1rem;
  padding: 0.25rem;
}

.login-options {
  display: inline;
  font-size: 0.9rem;
}

button.login-options {
  width: 4.5rem;
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
}

input.login-options {
  margin: 0.5rem;
}

#signup-links {
  background-color: #f5f8fa;
  padding: 0.6rem 0 1rem 8rem;
  margin-top: 1.4rem;
  color: #657786;
  font-size: 0.9rem;
}