nav {
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  font-weight: bold;
  border-bottom: 0.07rem solid rgba(0,0,0,0.25);
}

nav ul {
  padding: 0.7rem 0rem;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 1rem;
  padding: 0.3rem;
}

#nav-logo {
  font-size: 1.3rem;
  margin-right: 0.4rem;
}

.nav-link span {
  color: #66757f;
}

#nav-right {
  float: right;
  margin-right: 0;
}
