#usercard-wrapper {
  background-color: #ffffff;
  border-bottom: 0.07rem solid #e6ecf0;
  padding: 1rem 0.7rem;
  display: grid;
  grid-template-columns: 15% 85%;
  font-size: 0.9375rem;
}

#usercard-wrapper:hover {
  background-color: #fafafa;
  cursor: pointer;
}

#usercard-wrapper img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}

#usercard-wrapper #name {
  display: inline-block;
}

#usercard-wrapper #name {
  font-weight: bold;
}

#btn-box {
  float: right;
  min-width: 5rem;
}

#usercard-wrapper #username {
  color: #808080;
}